/*OVERALL STYLING*/
body {
    font-family: sans-serif;
}

#hero {
    display: inline-block;
    width: 200px;
    height: 200px;
}

#vs {
    display: inline-block;
    font-size: 30px;
    height: 200px;
    padding-right: 20px;
}

#enemy {
    display: inline-block;
    width: 200px;
    height: 200px;
}

/*CHARACTER OBJECT STYLING*/

/*holder of all characters*/
#charField {
}

/*character container*/
.charHolder {
    display: inline-block;
    margin: 0px 20px 20px 0px;
    padding: 10px;
}

/*character name header*/
.charName {

}

/*character image*/
.charImg {
    width: 150px;
    height: 220px;
}

/*character health*/
.health{

}

.attack{
    visibility: hidden;
    height: 1px;
}

.counter{
    visibility: hidden;
    height: 1px;
}

/*HERO OBJECT STYLING*/
.hero {
    border: 2px solid green;
}

/*ENEMY OBJECT STYLING*/
.enemy {
    border: 2px solid red;
}